body {
    /* Defaults */
    padding: 0;

    /* Main Layout */
    display: flex;
    flex-direction: column;
    align-content: center;
    text-transform: capitalize;

    /* Set Text */
    font-family: var(--default-font);
    color: var(--front-color);
}

/* Top */
header {
    position: fixed;
    top: 0;
    /* margin: 0;
    padding: 0; */
    background-color: var(--back-color);
    z-index: 1000;
    width: 100%;
    max-width: var(--max-width);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 1%;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: var(--max-width);
}

/* Container Divs */
/* Pages */
.page {
    height: 100vh;
    width: 100%;
    max-width: var(--max-width);
    padding: 75px 0px 25px 0px;
}

div {
    display: none;
}

div:target {
    display: block;
}

/* Targets */

/* Links */
a {
    opacity: 1;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--detail-color);
}

a:focus, a:hover {
    opacity: 0.75;
}

a:active {
    opacity: 0.5;
}


/* Root */
html {
    /* Containers */
    --max-width: 800px;

    /* Color Scheme */
    --front-color: #111;
    --back-color: #ddd;
    --detail-color: #555;

    /* Text */
    --default-font: 'monospace';

    /* Set Defaults */
    background-color: var(--back-color);
}