@import './style-default.css';

@media (prefers-color-scheme: dark) {
  html {
    --main-color: #111;
    --secondary-color: #ddd;
    --decor-color: #777;
    --color-inversion: 1;

    --max-width: 800px;

    --transition-duration: 0.3s;

    --main-font: Verdana, Tahoma, sans-serif;
    --font-size: 18px;

    scroll-behavior: smooth;
    overflow-x: hidden;

    background-color: var(--main-color);
    color: var(--secondary-color);
  }
}

@media (prefers-color-scheme: light) {
  html {
    --main-color: #ddd;
    --secondary-color: #111;
    --decor-color: #555;
    --color-inversion: 0;

    --max-width: 800px;

    --transition-duration: 0.3s;

    --main-font: Verdana, Tahoma, sans-serif;
    --font-size: 18px;

    scroll-behavior: smooth;
    overflow-x: hidden;

    background-color: var(--main-color);
    color: var(--secondary-color);
  }
}